.magazine-swiper {
  --swiper-navigation-color: #0d4e86;
  --swiper-navigation-size: 24px;
  --swiper-pagination-color: #0d4e86;
  --swiper-pagination-bullet-inactive-color: #a4bfd8;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 8px;
}
