.dostv-section .slick-slide {
  padding: 0 2px;
}

.dostv-section .slick-dots {
  bottom: -30px;
}

.dostv-section .slick-dots li {
  margin: 0 4px;
}

.dostv-section .slick-dots li button:before {
  color: #ffffff;
  opacity: 0.35;
  font-size: 10px;
}

.dostv-section .slick-dots li.slick-active button:before {
  color: #80caee;
  opacity: 1;
}

@media only screen and (max-width: 640px) {
  .dostv-section .slick-dots {
    bottom: -24px;
  }
}
